<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    
    <div class="signup" id="lin">
        <h1>Log in to my blog site</h1>

        <form>
            <!-- <input type="text" placeholder="Enter User name" name="username"><br>          -->
            <input type="email" name="email" placeholder="Enter your email" style="display: block;"><br>
            <div class="errorEmail"></div><br>
            <input type="password" name="password" placeholder="Enter password" style="display: block;"><br>
            <div class="errorPassword"></div><br>
            <button type="submit">Login</button>
        </form>
        <br>
        <br>
        <a href="/">Back to home</a>
    </div>
    


    <script>
        const form = document.querySelector('form')
        form.addEventListener('submit', async(e)=>{
            e.preventDefault()
            const name = form.name.value
            const email = form.email.value
            const password = form.password.value
            //deleted 2 lines

            //error divs
            const errorEmail = document.querySelector('.errorEmail')
            const errorPassword = document.querySelector('.errorPassword')

                await fetch('/login', {
                    method: "POST",
                    headers: {"content-type": "application/json"},
                    body: JSON.stringify({name, email, password})
                })
                .then(response => {
                    response.json()
                    .then(data => {
                        console.log(data)
                        if(data.user){
                        location.assign('/loggedin')
                        }
                        if(data.error){
                            errorEmail.textContent = data.error.email
                            errorPassword.textContent = data.error.password
                        }
                    })
                })
                .catch(err =>{
                    console.log(err)
                })
            }
        )
    </script>
</body>
</html>