<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    

    <div class="signup" id="sup">
        <h1>Register to my blog site</h1>
        <form action="/signup" method="post">
            <input type="text" placeholder="Enter User name" name="name"><br>
            <input type="email" placeholder="Enter your email" name="email"><br>
            <input type="text" placeholder="Enter password" name="password"><br>
            <button type="submit">Register</button>
        </form>
        <br>
        <br>
        <a href="/">Back to home</a>
    </div>
    


    <!-- <script>
        const form = document.querySelector('form')
        form.addEventListener('submit', (e)=>{
            e.preventDefault()
            const user_email = form.user_email.value
            const user_password = form.user_password.value
            try{
                fetch('/signup', {
                    method: "POST",
                    headers: {"content-type": "application/json"},
                    body: JSON.stringify({user_email, user_password})
                })
            }
            catch(err){
                console.log(err)
            }
        })
        
    </script> -->
</body>
</body>
</html>